interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer 0f1b285b094a4060b783afe5acddd9b7
      Content-Type:
      - application/json
    method: GET
    uri: https://api.basespace.illumina.com/v2/datasets?appsessionids=748822213&offset=0&limit=50
  response:
    body:
      string: '{"Items":[{"Id":"ds.2fd7a5b5f7a143779eea5426fc16de32","Href":"https://api.basespace.illumina.com/v2/datasets/ds.2fd7a5b5f7a143779eea5426fc16de32","HrefFiles":"https://api.basespace.illumina.com/v2/datasets/ds.2fd7a5b5f7a143779eea5426fc16de32/files","Name":"240304_MP2-12_P3_TwistRefSeq-24plex_1000pM-20","DateCreated":"2024-07-15T12:13:20.0000000Z","DateModified":"2024-07-15T12:13:20.0000000Z","AppSession":{"Id":"748822213","Name":"DRAGEN
        Baseline Builder 07/15/2024 16:19:55","Href":"https://api.basespace.illumina.com/v2/appsessions/748822213","Application":{"Id":"16983967","Href":"v1pre3/applications/16983967","Name":"DRAGEN
        Baseline Builder","CompanyName":"Illumina, Inc.","VersionNumber":"4.3.6","HomepageUri":"https://www.illumina.com/products/by-type/informatics-products/dragen-bio-it-platform.html","ShortDescription":"Accepts
        FASTQ, BAM, or CRAM, and generates CNV Baseline files which are accepted by
        the DRAGEN Enrichment Pipeline.","DateCreated":"2024-06-06T00:10:00.0000000Z","DatePublished":"2024-06-12T13:58:36.0000000Z","PublishStatus":"Published","IsBillingActivated":false,"Category":"IcaPipeline","Classifications":["Resequencing","VariantAnalysis","Hipaa","Illumina","Dragen"],"AppFamilySlug":"illumina-inc.dragen-baseline-builder","AppVersionSlug":"illumina-inc.dragen-baseline-builder.4.3.6","Features":[],"LockStatus":"Unlocked"},"UserCreatedBy":{"Id":"58837781","Href":"https://api.basespace.illumina.com/v2/users/58837781","Name":"Ajay
        Joshi","DateCreated":"2024-07-15T10:23:34.0000000Z","GravatarUrl":"https://secure.gravatar.com/avatar/60f6c13a2766f789d76a07f0283d3805.jpg?s=20&d=mm&r=PG","HrefProperties":"https://api.basespace.illumina.com/v2/users/current/properties","ExternalDomainId":"YXdzLXVzLXBsYXRmb3JtOjEwMDAwMDAzOjJlNmJhM2MyLWUwNGEtNGU0YS05NGRkLTgwZTM1Njc0OTRkMw"},"ExecutionStatus":"Complete","QcStatus":"Undefined","StatusSummary":"AppSession
        status has been updated to Complete","Purpose":"IcaAnalysisTracking","DateCreated":"2024-07-15T10:57:14.0000000Z","DateModified":"2024-07-15T12:13:41.0000000Z","DateCompleted":"2024-07-15T12:13:41.0000000Z","DateStarted":"2024-07-15T10:57:42.0000000Z","TotalSize":126229236,"DeliveryStatus":"None","ContainsComments":false,"HrefComments":"https://api.basespace.illumina.com/v2/appsessions/748822213/comments"},"Project":{"Id":"424682258","UserOwnedBy":{"Id":"58837781","Href":"https://api.basespace.illumina.com/v2/users/58837781","Name":"Ajay
        Joshi","DateCreated":"2024-07-15T10:23:34.0000000Z","GravatarUrl":"https://secure.gravatar.com/avatar/60f6c13a2766f789d76a07f0283d3805.jpg?s=20&d=mm&r=PG","HrefProperties":"https://api.basespace.illumina.com/v2/users/current/properties","ExternalDomainId":"YXdzLXVzLXBsYXRmb3JtOjEwMDAwMDAzOjJlNmJhM2MyLWUwNGEtNGU0YS05NGRkLTgwZTM1Njc0OTRkMw"},"Href":"https://api.basespace.illumina.com/v2/projects/424682258","Name":"BED
        file","Description":"","DateCreated":"2024-07-15T10:47:10.0000000Z","DateModified":"2024-11-08T07:59:16.0000000Z","HasCollaborators":true,"TotalSize":1963910858},"TotalSize":21657758,"IsArchived":false,"UserOwnedBy":{"Id":"58837781","Href":"https://api.basespace.illumina.com/v2/users/58837781","Name":"Ajay
        Joshi","DateCreated":"2024-07-15T10:23:34.0000000Z","GravatarUrl":"https://secure.gravatar.com/avatar/60f6c13a2766f789d76a07f0283d3805.jpg?s=20&d=mm&r=PG","HrefProperties":"https://api.basespace.illumina.com/v2/users/current/properties","ExternalDomainId":"YXdzLXVzLXBsYXRmb3JtOjEwMDAwMDAzOjJlNmJhM2MyLWUwNGEtNGU0YS05NGRkLTgwZTM1Njc0OTRkMw"},"DatasetType":{"Id":"common.files","Href":"https://api.basespace.illumina.com/v2/datasettypes/common.files","Name":"Common
        Files","ConformsToIds":[]},"Attributes":{},"QcStatus":"Undefined","QcStatusSummary":"No
        thresholds were evaluated","UploadStatus":"Completed","UploadStatusSummary":"","ValidationStatus":"Passed","HrefComments":"https://api.basespace.illumina.com/v2/datasets/ds.2fd7a5b5f7a143779eea5426fc16de32/comments","ContainsComments":false},{"Id":"ds.a4dd83ebf3f64b4eaa5ec71b44c51391","Href":"https://api.basespace.illumina.com/v2/datasets/ds.a4dd83ebf3f64b4eaa5ec71b44c51391","HrefFiles":"https://api.basespace.illumina.com/v2/datasets/ds.a4dd83ebf3f64b4eaa5ec71b44c51391/files","Name":"240304_MP2-12_P3_TwistRefSeq-24plex_1000pM-7","DateCreated":"2024-07-15T12:13:19.0000000Z","DateModified":"20[...]
