interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer 224880f27f224388b11f3b193ee377e7
      Content-Type:
      - application/json
    method: GET
    uri: https://api.basespace.illumina.com/v2/datasets?appsessionids=628976393&offset=0&limit=512
  response:
    body:
      string: '{"Items":[{"Id":"ds.a6802fbf9b274ca08a9796b5bcd0e8e2","Href":"https://api.basespace.illumina.com/v2/datasets/ds.a6802fbf9b274ca08a9796b5bcd0e8e2","HrefFiles":"https://api.basespace.illumina.com/v2/datasets/ds.a6802fbf9b274ca08a9796b5bcd0e8e2/files","Name":"in3529-18V3V4","DateCreated":"2022-11-13T14:37:29.0000000Z","DateModified":"2022-11-13T14:37:29.0000000Z","AppSession":{"Id":"628976393","Name":"BaseSpace
        CLI 2022-11-13 14:37:14Z","Href":"https://api.basespace.illumina.com/v2/appsessions/628976393","Application":{"Id":"1375375","Href":"v1pre3/applications/1375375","Name":"BaseSpace
        CLI","CompanyName":"Illumina, Inc.","VersionNumber":"1.0.0","HomepageUri":"","ShortDescription":"Command
        line interface to BaseSpace","DateCreated":"2015-04-02T07:44:12.0000000Z","PublishStatus":"Development","IsBillingActivated":false,"Category":"Other","Classifications":["Illumina"],"AppFamilySlug":"illumina-inc.basespace-cli","AppVersionSlug":"illumina-inc.basespace-cli.1.0.0","Features":["GrantInheritanceDisabled","IsAppRegisteredToPlatform"],"LockStatus":"Unlocked"},"UserCreatedBy":{"Id":"19228209","Href":"https://api.basespace.illumina.com/v2/users/19228209","Name":"Illumina
        Demo Data","DateCreated":"2020-02-21T16:16:10.0000000Z","GravatarUrl":"https://secure.gravatar.com/avatar/7506c25caeba72f27a39c83767e9e103.jpg?s=20&d=mm&r=PG","HrefProperties":"https://api.basespace.illumina.com/v2/users/current/properties","ExternalDomainId":"YXdzLXVzLXBsYXRmb3JtOjEwMDAwNDIwOjY4MWVkZmM4LWI1ODYtNGEzMi05MmNmLTkwMmIxN2M3YjViZA"},"ExecutionStatus":"Complete","QcStatus":"Undefined","StatusSummary":"Finished
        uploading in3529-18V3V4","Purpose":"AppUpload","DateCreated":"2022-11-13T14:37:14.0000000Z","DateModified":"2022-11-13T14:37:29.0000000Z","DateCompleted":"2022-11-13T14:37:27.0000000Z","TotalSize":104044417,"DeliveryStatus":"None","ContainsComments":false,"HrefComments":"https://api.basespace.illumina.com/v2/appsessions/628976393/comments"},"Project":{"Id":"372438067","UserOwnedBy":{"Id":"19228209","Href":"https://api.basespace.illumina.com/v2/users/19228209","Name":"Illumina
        Demo Data","DateCreated":"2020-02-21T16:16:10.0000000Z","GravatarUrl":"https://secure.gravatar.com/avatar/7506c25caeba72f27a39c83767e9e103.jpg?s=20&d=mm&r=PG","HrefProperties":"https://api.basespace.illumina.com/v2/users/current/properties","ExternalDomainId":"YXdzLXVzLXBsYXRmb3JtOjEwMDAwNDIwOjY4MWVkZmM4LWI1ODYtNGEzMi05MmNmLTkwMmIxN2M3YjViZA"},"Href":"https://api.basespace.illumina.com/v2/projects/372438067","Name":"NextSeq2000:
        Zymo Quick-16S Plus NGS Library Prep Kit (V3-V4) on P1 600 cycles kit","Description":"","DateCreated":"2022-11-13T11:04:55.0000000Z","DateModified":"2022-11-30T18:57:12.0000000Z","HasCollaborators":true,"TotalSize":24209077861},"TotalSize":104044417,"IsArchived":false,"UserOwnedBy":{"Id":"19228209","Href":"https://api.basespace.illumina.com/v2/users/19228209","Name":"Illumina
        Demo Data","DateCreated":"2020-02-21T16:16:10.0000000Z","GravatarUrl":"https://secure.gravatar.com/avatar/7506c25caeba72f27a39c83767e9e103.jpg?s=20&d=mm&r=PG","HrefProperties":"https://api.basespace.illumina.com/v2/users/current/properties","ExternalDomainId":"YXdzLXVzLXBsYXRmb3JtOjEwMDAwNDIwOjY4MWVkZmM4LWI1ODYtNGEzMi05MmNmLTkwMmIxN2M3YjViZA"},"DatasetType":{"Id":"illumina.fastq.v1.8","Href":"https://api.basespace.illumina.com/v2/datasettypes/illumina.fastq.v1.8","Name":"Illumina
        Fastq","ConformsToIds":["common.files","common.fastq"]},"Attributes":{"common_fastq":{"MaxLengthRead1":301,"MaxLengthRead2":301,"IsPairedEnd":true,"TotalClustersPF":359479,"TotalClustersRaw":359479,"TotalReadsPF":718958,"TotalReadsRaw":718958}},"QcStatus":"Undefined","QcStatusSummary":"No
        thresholds were evaluated","UploadStatus":"Completed","UploadStatusSummary":"","ValidationStatus":"Passed","V1pre3Id":"sample.411096884","HrefComments":"https://api.basespace.illumina.com/v2/datasets/ds.a6802fbf9b274ca08a9796b5bcd0e8e2/comments","ContainsComments":false}],"Paging":{"DisplayedCount":1,"TotalCount":1,"Offset":0,"Limit":512,"SortDir":"Desc","SortBy":"DateCreated"}}'
    headers:
      Content-Type:
      - application/json
      X-BaseSpace-Source:
      - master/readonly
    status:
      code: 200
      message: OK
version: 1
