interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer 224880f27f224388b11f3b193ee377e7
      Content-Type:
      - application/json
    method: GET
    uri: https://api.basespace.illumina.com/v2/datasets/ds.ac82a306af3847f2b53ecb695bc22400/files?excludevcfindexfolder=False&excludebamcoveragefolder=False&excludesystemfolder=False&excludeemptyfiles=False&filehrefcontentresolution=False&turbomode=False&sortby=Name&offset=0&limit=50&sortdir=Asc
  response:
    body:
      string: '{"Items":[{"Id":"11710715826","Href":"https://api.basespace.illumina.com/v2/files/11710715826","HrefContent":"https://api.basespace.illumina.com/v2/files/11710715826/content","Name":"Myeloid-RNA-Brain-Rep1_S1_L001_R1_001.fastq.gz","ContentType":"application/x-gzip","Size":48526491,"Path":"Myeloid-RNA-Brain-Rep1_S1_L001_R1_001.fastq.gz","IsArchived":false,"DateCreated":"2018-07-19T23:50:10.0000000Z","DateModified":"2018-07-19T23:50:10.0000000Z","ETag":"3a1f3ea201911c15cf166a58ecc783d0-6","IdAsLong":11710715826},{"Id":"11710715827","Href":"https://api.basespace.illumina.com/v2/files/11710715827","HrefContent":"https://api.basespace.illumina.com/v2/files/11710715827/content","Name":"Myeloid-RNA-Brain-Rep1_S1_L001_R2_001.fastq.gz","ContentType":"application/x-gzip","Size":50934554,"Path":"Myeloid-RNA-Brain-Rep1_S1_L001_R2_001.fastq.gz","IsArchived":false,"DateCreated":"2018-07-19T23:50:10.0000000Z","DateModified":"2018-07-19T23:50:10.0000000Z","ETag":"b270e3ed6754e7c66be4f20ce13f0a98-7","IdAsLong":11710715827}],"Paging":{"DisplayedCount":2,"TotalCount":2,"Offset":0,"Limit":50,"SortDir":"Asc","SortBy":"Name"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
