interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer 224880f27f224388b11f3b193ee377e7
      Content-Type:
      - application/json
    method: GET
    uri: https://api.basespace.illumina.com/v1pre3/users/current/projects?Offset=0&Limit=512
  response:
    body:
      string: '{"Response":{"Items":[{"Id":"48078043","UserOwnedBy":{"Id":"9319322","Href":"v1pre3/users/9319322","Name":"Illumina
        Public Data","DateCreated":"0001-01-01T00:00:00.0000000Z","GravatarUrl":"https://secure.gravatar.com/avatar/c028aa9f7bb49e5c99efd2c6a329d8d6.jpg?s=20&d=mm&r=PG"},"Href":"v1pre3/projects/48078043","Name":"HiSeqX:
        Nextera DNA Flex (replicates of Coriell Trio Samples)","Description":"4 replicates
        each of the human genetic trio Coriell samples NA12878, NA12891, and NA12892
        were prepared using the Nextera DNA Flex library prep kit and sequenced at
        2x151 on a HiSeqX instrument.","DateCreated":"2017-09-21T19:19:28.0000000Z","DateModified":"2020-02-01T01:23:32.0000000Z","HasCollaborators":true,"TotalSize":3613767739481},{"Id":"86591915","UserOwnedBy":{"Id":"9319322","Href":"v1pre3/users/9319322","Name":"Illumina
        Public Data","DateCreated":"0001-01-01T00:00:00.0000000Z","GravatarUrl":"https://secure.gravatar.com/avatar/c028aa9f7bb49e5c99efd2c6a329d8d6.jpg?s=20&d=mm&r=PG"},"Href":"v1pre3/projects/86591915","Name":"MiSeq:
        Myeloid RNA Panel (Brain and SeraSeq Samples)","Description":"Brain and SeraSeq
        samples were prepared using the AmpliSeq for Illumina Myeloid Panel kit. Sam[...]
