interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer 224880f27f224388b11f3b193ee377e7
      Content-Type:
      - application/json
    method: GET
    uri: https://api.basespace.illumina.com/v1pre3/projects/372438067
  response:
    body:
      string: '{"Response":{"HrefSamples":"v1pre3/projects/372438067/samples","HrefAppResults":"v1pre3/projects/372438067/appresults","HrefBaseSpaceUI":"https://basespace.illumina.com/project/372438067/NextSeq2000-Zymo-Quick-16S-Plus-NGS-Library-Prep-Kit-V3-V4-on-P1-600-cycles-kit","Properties":{"Items":[],"DisplayedCount":0,"TotalCount":0,"Href":"v1pre3/projects/372438067/properties"},"Id":"372438067","UserOwnedBy":{"Id":"19228209","Href":"v1pre3/users/19228209","Name":"Illumina
        Demo Data","DateCreated":"0001-01-01T00:00:00.0000000Z","GravatarUrl":"https://secure.gravatar.com/avatar/7506c25caeba72f27a39c83767e9e103.jpg?s=20&d=mm&r=PG"},"Href":"v1pre3/projects/372438067","Name":"NextSeq2000:
        Zymo Quick-16S Plus NGS Library Prep Kit (V3-V4) on P1 600 cycles kit","Description":"","DateCreated":"2022-11-13T11:04:55.0000000Z","DateModified":"2022-11-30T18:57:12.0000000Z","HasCollaborators":true,"TotalSize":24209077861},"ResponseStatus":{},"Notifications":[]}'
    headers:
      Content-Type:
      - application/json
      X-BaseSpace-Source:
      - master/readonly
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer 224880f27f224388b11f3b193ee377e7
      Content-Type:
      - application/json
    method: GET
    uri: https://api.basespace.illumina.com/v2/appsessions?output.projects=372438067&sortby=Name
  response:
    body:
      string: '{"Items":[{"Id":"629024454","Name":"BaseSpace CLI 2022-11-13 14:35:21Z","Href":"https://api.basespace.illumina.com/v2/appsessions/629024454","Application":{"Id":"1375375","Href":"v1pre3/applications/1375375","Name":"BaseSpace
        CLI","CompanyName":"Illumina, Inc.","VersionNumber":"1.0.0","HomepageUri":"","ShortDescription":"Command
        line interface to BaseSpace","DateCreated":"2015-04-02T07:44:12.0000000Z","PublishStatus":"Development","IsBillingActivated":false,"Category":"Other","Classifications":["Illumina"],"AppFamilySlug":"illumina-inc.basespace-cli","AppVersionSlug":"illumina-inc.basespace-cli.1.0.0","Features":["GrantInheritanceDisabled","IsAppRegisteredToPlatform"],"LockStatus":"Unlocked"},"UserCreatedBy":{"Id":"19228209","Href":"https://api.basespace.illumina.com/v2/users/19228209","Name":"Illumina
        Demo Data","DateCreated":"2020-02-21T16:16:10.0000000Z","GravatarUrl":"https://secure.gravatar.com/avatar/7506c25caeba72f27a39c83767e9e103.jpg?s=20&d=mm&r=PG","HrefProperties":"https://api.basespace.illumina.com/v2/users/current/properties","ExternalDomainId":"YXdzLXVzLXBsYXRmb3JtOjEwMDAwNDIwOjY4MWVkZmM4LWI1ODYtNGEzMi05MmNmLTkwMmIxN2M3YjViZA"},"ExecutionStatus":"Complete","QcStatus":"Undefined","StatusSummary":"Finished
        uploading in3529-10V3V4","Purpose":"AppUpload","DateCreated":"2022-11-13T14:35:21.0000000Z","DateModified":"2022-11-13T14:35:40.0000000Z","DateCompleted":"2022-11-13T14:35:36.0000000Z","TotalSize":111256717,"DeliveryStatus":"None","ContainsComments":false,"HrefComments":"https://api.basespace.illumina.com/v2/appsessions/629024454/comments"},{"Id":"629189565","Name":"BaseSpace
        CLI 2022-11-13 14:35:36Z","Href":"https://api.basespace.illumina.com/v2/appsessions/629189565","Application":{"Id":"1375375","Href":"v1pre3/applications/1375375","Name":"BaseSpace
        CLI","CompanyName":"Illumina, Inc.","VersionNumber":"1.0.0","HomepageUri":"","ShortDescription":"Command
        line interface to BaseSpace","DateCreated":"2015-04-02T07:44:12.0000000Z","PublishS[...]
