interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer a91fb24f269c45d6bc5be29b5c0bc0c0
      Content-Type:
      - application/json
    method: GET
    uri: https://api.basespace.illumina.com/v1pre3/projects/425571151
  response:
    body:
      string: '{"Response":{"HrefSamples":"v1pre3/projects/425571151/samples","HrefAppResults":"v1pre3/projects/425571151/appresults","HrefBaseSpaceUI":"https://basespace.illumina.com/project/425571151/OceanDx-Validation_Run2_07122024","Properties":{"Items":[],"DisplayedCount":0,"TotalCount":0,"Href":"v1pre3/projects/425571151/properties"},"Id":"425571151","UserOwnedBy":{"Id":"55654599","Href":"v1pre3/users/55654599","Name":"Ocean2024","DateCreated":"0001-01-01T00:00:00.0000000Z","GravatarUrl":"https://secure.gravatar.com/avatar/dd8f255b5950e263837669478be1f4d0.jpg?s=20&d=mm&r=PG"},"Href":"v1pre3/projects/425571151","Name":"OceanDx
        Validation_Run2_07122024","Description":"","DateCreated":"2024-07-26T16:52:58.0000000Z","DateModified":"2024-07-29T16:45:13.0000000Z","HasCollaborators":false,"TotalSize":95755812},"ResponseStatus":{},"Notifications":[]}'
    headers:
      Content-Type:
      - application/json
      X-BaseSpace-Source:
      - master/readonly
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer a91fb24f269c45d6bc5be29b5c0bc0c0
      Content-Type:
      - application/json
    method: GET
    uri: https://api.basespace.illumina.com/v2/appsessions?output.projects=425571151&sortby=Name&offset=0&limit=50
  response:
    body:
      string: '{"Items":[{"Id":"751869300","Name":"blood1.hard-filtered.vcf.gz","Href":"https://api.basespace.illumina.com/v2/appsessions/751869300","Application":{"Id":"1375375","Href":"v1pre3/applications/1375375","Name":"BaseSpace
        CLI","CompanyName":"Illumina, Inc.","VersionNumber":"1.0.0","HomepageUri":"","ShortDescription":"Command
        line interface to BaseSpace","DateCreated":"2015-04-02T07:44:12.0000000Z","PublishStatus":"Development","IsBillingActivated":false,"Category":"Other","Classifications":["Illumina"],"AppFamilySlug":"illumina-inc.basespace-cli","AppVersionSlug":"illumina-inc.basespace-cli.1.0.0","Features":["GrantInheritanceDisabled","IsAppRegisteredToPlatform"],"LockStatus":"Unlocked"},"UserCreatedBy":{"Id":"55654599","Href":"https://api.basespace.illumina.com/v2/users/55654599","Name":"Ocean2024","DateCreated":"2024-04-02T16:56:09.0000000Z","GravatarUrl":"https://secure.gravatar.com/avatar/dd8f255b5950e263837669478be1f4d0.jpg?s=20&d=mm&r=PG","HrefProperties":"https://api.basespace.illumina.com/v2/users/current/properties","ExternalDomainId":"YXdzLXVzLXBsYXRmb3JtOjEwMDAwMDAzOjJlNmJhM2MyLWUwNGEtNGU0YS05NGRkLTgwZTM1Njc0OTRkMw"},"ExecutionStatus":"Complete","QcStatus":"Undefined","StatusSummary":"CLI
        Upload","Purpose":"AppUpload","DateCreated":"2024-07-26T16:52:59.0000000Z","DateModified":"2024-07-26T16:53:04.0000000Z","DateCompleted":"2024-07-26T16:53:00.0000000Z","DateStarted":"2024-07-26T16:52:59.0000000Z","TotalSize":2960870,"DeliveryStatus":"None","ContainsComments":false,"HrefComments":"https://api.basespace.illumina.com/v2/appsessions/751869300/comments"},{"Id":"751859288","Name":"blood2.hard-filtered.vcf.gz","Href":"https://api.basespace.illumina.com/v2/appsessions/751859288","Application":{"Id":"1375375","Href":"v1pre3/applications/1375375","Name":"BaseSpace
        CLI","CompanyName":"Illumina, Inc.","VersionNumber":"1.0.0","HomepageUri":"","ShortDescription":"Command
        line interface to BaseSpace","DateCreated":"2015-04-02T07:44:12.0000000Z","PublishStatus":"Develop[...]
