interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer 224880f27f224388b11f3b193ee377e7
      Content-Type:
      - application/json
    method: GET
    uri: https://api.basespace.illumina.com/v1pre3/files/11710715826?Offset=0&Limit=512
  response:
    body:
      string: '{"Response":{"UploadStatus":"complete","Properties":{"Items":[],"DisplayedCount":0,"TotalCount":0,"Href":"v1pre3/files/11710715826/properties"},"Id":"11710715826","Href":"v1pre3/files/11710715826","HrefContent":"v1pre3/files/11710715826/content","Name":"Myeloid-RNA-Brain-Rep1_S1_L001_R1_001.fastq.gz","ContentType":"application/x-gzip","Size":48526491,"Path":"Myeloid-RNA-Brain-Rep1_S1_L001_R1_001.fastq.gz","IsArchived":false,"DateCreated":"2018-07-19T23:50:10.0000000Z","DateModified":"2018-07-19T23:50:10.0000000Z","ETag":"3a1f3ea201911c15cf166a58ecc783d0-6"},"ResponseStatus":{},"Notifications":[]}'
    headers:
      Content-Type:
      - application/json
      X-BaseSpace-Source:
      - master/readonly
    status:
      code: 200
      message: OK
version: 1
