interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer 72007ae76ac14a27b389765fd01b509e
      Content-Type:
      - application/json
    method: GET
    uri: https://api.basespace.illumina.com/v1pre3/files/11111111111
  response:
    body:
      string: '{"ResponseStatus":{"ErrorCode":"BASESPACE.COMMON.INSUFFICIENT_RESOURCE_PERMISSIONS","Message":"Sorry
        but this requires READ access to this Run resource."},"Notifications":[{"Type":"error","Item":"Sorry
        but this requires READ access to this Run resource."}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-BaseSpace-Source:
      - master/readonly
    status:
      code: 403
      message: Forbidden
version: 1
