interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer 224880f27f224388b11f3b193ee377e7
      Content-Type:
      - application/json
    method: GET
    uri: https://api.basespace.illumina.com/v1pre3/appresults/137682553?Offset=0&Limit=512
  response:
    body:
      string: '{"Response":{"Description":"Myeloid-RNA-SeraSeq-Rep7","HrefFiles":"v1pre3/appresults/137682553/files","References":[],"Properties":{"Items":[{"Type":"sample[]","Href":"v1pre3/appresults/137682553/properties/Input.Samples","Name":"Input.Samples","Description":"","Items":[{"Id":"155135036","Href":"v1pre3/samples/155135036","IsMerged":false,"UserOwnedBy":{"Id":"9319322","Href":"v1pre3/users/9319322","Name":"Illumina
        Public Data","DateCreated":"0001-01-01T00:00:00.0000000Z","GravatarUrl":"https://secure.gravatar.com/avatar/c028aa9f7bb49e5c99efd2c6a329d8d6.jpg?s=20&d=mm&r=PG"},"Name":"Myeloid-RNA-SeraSeq-Rep7","ExperimentName":"Myeloid_RNA_Public_Data_MiSeq","SampleId":"Myeloid-RNA-SeraSeq-Rep7","Status":"Complete","StatusSummary":"Application
        completed successfully","DateCreated":"2018-07-19T23:49:49.0000000Z","TotalSize":112647499,"Library":{"OwnerUser":{"Id":"10154153","Href":"v1pre3/users/10154153","Name":"Lightning","DateCreated":"0001-01-01T00:00:00.0000000Z","GravatarUrl":"https://secure.gravatar.com/avatar/c028aa9f7bb49e5c99efd2c6a329d8d6.jpg?s=20&d=mm&r=PG"},"Id":"58863469","Href":"v1pre3/libraries/58863469","BiologicalSample":{"Id":"104555112","Href":"v1pre3/biologicalsamples/104555112","UserSampleId":"Myeloid-RNA-SeraSeq-Rep7","NucleicAcid":"Undefined","Project":{"Id":"86591915","UserOwnedBy":{"Id":"9319322","Href":"v1pre3/users/9319322","Name":"Illumina
        Public Data","DateCreated":"0001-01-01T00:00:00.0000000Z","GravatarUrl":"https://secure.gravatar.com/avatar/c028aa9f7bb49e5c99efd2c6a329d8d6.jpg?s=20&d=mm&r=PG"},"Href":"v1pre3/projects/86591915","Name":"MiSeq:
        Myeloid RNA Panel (Brain and SeraSeq Samples)","Description":"Brain and SeraSeq
        samples were prepared using the AmpliSeq for Illumina Myeloid Panel kit. Samples
        were sequenced on the MiSeq system at 2x151 bp read length with dual indexing.
        Analysis was performed on BaseSpace using the RNA Amplicon app.","DateCreated":"2018-07-18T18:49:07.0000000Z","DateModified":"2020-02-01T02:32:16.0000000Z","HasCollaborators":true,"TotalSize":2971103577},"UserOwnedBy":{"Id":"10154153","Href":"v1pre3/users/10154153","Name":"Lightning","DateCreated":"0001-01-01T00:00:00.0000000Z","GravatarUrl":"https://secure.gravatar.com/avatar/c028aa9f7bb49e5c99efd2c6a329d8d6.jpg?s=20&d=mm&r=PG"},"DateModified":"2018-08-03T02:42:15.0000000Z"},"Index1":{"Id":"6497500","Name":"7024","Sequence":"ATGAGGCC","Incompatibility":"None"},"Index2":{"Id":"6497510","Name":"5014","Sequence":"GGTTATAA","Incompatibility":"None"},"DateModified":"2018-07-18T18:49:09.0000000Z","LibraryPrep":{"Id":"1014015","Href":"v1pre3/libraryprepkits/1014015","Name":"Unknown","ValidIndexingStrategies":"None,SingleIndex,DualIndex","ValidReadTypes":"SingleRead,PairedEnd","NumIndexCycles":0,"DateModified":"2024-04-24T05:48:18.0000000Z","State":"Active","DefaultRead1Cycles":0,"DefaultRead2Cycles":0},"Project":{"Id":"86591915","UserOwnedBy":{"Id":"9319322","Href":"v1pre3/users/9319322","Name":"Illumina
        Public Data","DateCreated":"0001-01-01T00:00:00.0000000Z","GravatarUrl":"https://secure.gravatar.com/avatar/c028aa9f7bb49e5c99efd2c6a329d8d6.jpg?s=20&d=mm&r=PG"},"Href":"v1pre3/projects/86591915","Name":"MiSeq:
        Myeloid RNA Panel (Brain and SeraSeq Samples)","Description":"Brain and SeraSeq
        samples were prepared using the AmpliSeq for Illumina Myeloid Panel kit. Samples
        were sequenced on the MiSeq system at 2x151 bp read length with dual indexing.
        Analysis was performed on BaseSpace using the RNA Amplicon app.","DateCreated":"2018-07-18T18:49:07.0000000Z","DateModified":"2020-02-01T02:32:16.0000000Z","HasCollaborators":true,"TotalSize":2971103577},"LibraryName":"Myeloid-RNA-SeraSeq-Rep7","State":"Active"},"Genome":{"Id":"4","DisplayName":"Homo
        sapiens - UCSC (hg19)","SpeciesName":"Homo sapiens","Source":"UCSC","Build":"hg19","Href":"v1pre3/genomes/4","HrefAnnotations":"v1pre3/genomes/4/annotations"},"Read1":151,"Read2":151,"NumReadsPF":1014257,"NumReadsRaw":1014257,"TotalReadsRaw":2028514,"TotalReadsPF":2028514,"TotalClustersRaw":1014257,"TotalClustersPF":1014257,"IsPairedEnd":true}],"HrefItems":"v1pre3/appresults/137682553/properties/Input.Samples/items","ItemsDisplayedCount":1,"ItemsTotalCount":1}],"DisplayedCount":1,"TotalCount":1,"Href":"v1pre3/appresults/137682553/properties"},"Id":"137682553","Href":"v1pre3/appresults/137682553","UserOwnedBy":{"Id":"9319322","Href":"v1pre3/users/9319322","Name":"Illumina
        Public Data","DateCreated":"0001-01-01T00:00:00.0000000Z","GravatarUrl":"https://secure.gravatar.com/avatar/c028aa9f7bb49e5c99efd2c6a329d8d6.jpg?s=20&d=mm&r=PG"},"Name":"Myeloid-RNA-SeraSeq-Rep7","Status":"Complete","StatusSummary":"Application
        completed successfully","DateCreated":"2018-07-24T21:22:27.0000000Z","TotalSize":680468,"AppSession":{"Id":"111537916","Name":"RNA
        Amplicon 07/24/2018 1:39:05","Href":"v1pre3/appsessions/111537916","Application":{"Id":"4856852","Href":"v1pre3/applications/4856852","Name":"RNA
        Amplicon","CompanyName":"Illumina, Inc.","VersionNumber":"1.0.0","HomepageUri":"https://support.illumina.com/downloads/basespace-rna-amplicon-app.html","ShortDescription":"The
        RNA Amplicon app enables gene expression profiling using amplicon panels sequenced
        on Illumina platforms.","DateCreated":"2017-11-16T02:37:56.0000000Z","DatePublished":"2018-01-09T16:39:25.0000000Z","PublishStatus":"Published","IsBillingActivated":false,"Category":"Native","Classifications":["TargetedSequencing","RNASeq","GeneFusionDetection","DifferentialExpression","Hipaa","Illumina"],"AppFamilySlug":"illumina-inc.rna-amplicon","AppVersionSlug":"illumina-inc.rna-amplicon.1.0.0","Features":["IsAppRegisteredToPlatform"],"LockStatus":"Unlocked"},"UserCreatedBy":{"Id":"9319322","Href":"v1pre3/users/9319322","Name":"Illumina
        Public Data","DateCreated":"0001-01-01T00:00:00.0000000Z","GravatarUrl":"https://secure.gravatar.com/avatar/c028aa9f7bb49e5c99efd2c6a329d8d6.jpg?s=20&d=mm&r=PG"},"Status":"Complete","QcStatus":"Undefined","StatusSummary":"Application
        completed successfully","DateCreated":"2018-07-24T21:00:54.0000000Z","ModifiedOn":"2018-07-24T21:22:49.0000000Z","DateCompleted":"2018-07-24T21:22:44.0000000Z","TotalSize":17780405},"Projects":[{"Id":"86591915","UserOwnedBy":{"Id":"9319322","Href":"v1pre3/users/9319322","Name":"Illumina
        Public Data","DateCreated":"0001-01-01T00:00:00.0000000Z","GravatarUrl":"https://secure.gravatar.com/avatar/c028aa9f7bb49e5c99efd2c6a329d8d6.jpg?s=20&d=mm&r=PG"},"Href":"v1pre3/projects/86591915","Name":"MiSeq:
        Myeloid RNA Panel (Brain and SeraSeq Samples)","Description":"Brain and SeraSeq
        samples were prepared using the AmpliSeq for Illumina Myeloid Panel kit. Samples
        were sequenced on the MiSeq system at 2x151 bp read length with dual indexing.
        Analysis was performed on BaseSpace using the RNA Amplicon app.","DateCreated":"2018-07-18T18:49:07.0000000Z","DateModified":"2020-02-01T02:32:16.0000000Z","HasCollaborators":true,"TotalSize":2971103577}]},"ResponseStatus":{},"Notifications":[]}'
    headers:
      Content-Type:
      - application/json
      X-BaseSpace-Source:
      - master/readonly
    status:
      code: 200
      message: OK
version: 1
