interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer 224880f27f224388b11f3b193ee377e7
      Content-Type:
      - application/json
    method: GET
    uri: https://api.basespace.illumina.com/v1pre3/files/1111111
  response:
    body:
      string: '{"ResponseStatus":{"ErrorCode":"BASESPACE.COMMON.INSUFFICIENT_RESOURCE_PERMISSIONS","Message":"Sorry
        but this requires READ access to this Run resource."},"Notifications":[{"Type":"error","Item":"Sorry
        but this requires READ access to this Run resource."}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 403
      message: Forbidden
version: 1
