interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer 72007ae76ac14a27b389765fd01b509e
      Content-Type:
      - application/json
    method: GET
    uri: https://api.basespace.illumina.com/v1pre3/files/28391974107
  response:
    body:
      string: '{"Response":{"UploadStatus":"complete","HrefVariants":"v1pre3/variantset/28391974107","Properties":{"Items":[{"Type":"string[]","Href":"v1pre3/files/28391974107/properties/BaseSpace.Files.Validations","Name":"BaseSpace.Files.Validations","Description":"Confirms
        that the VCF file passed initial server validation","Items":["BaseSpace.Files.Validations.vcf-v1.0"],"HrefItems":"v1pre3/files/28391974107/properties/BaseSpace.Files.Validations/items","ItemsDisplayedCount":1,"ItemsTotalCount":1},{"Type":"string","Href":"v1pre3/files/28391974107/properties/BaseSpace.Files.Validations.vcf-v1.0","Name":"BaseSpace.Files.Validations.vcf-v1.0","Description":"Confirms
        that the VCF file passed initial server validation","Content":"{\"Type\":\"vcf\",\"Passed\":true}"}],"DisplayedCount":2,"TotalCount":2,"Href":"v1pre3/files/28391974107/properties"},"Id":"28391974107","Href":"v1pre3/files/28391974107","HrefContent":"v1pre3/files/28391974107/content","Name":"19-384.emg-norm_v1.0.5.vcf","ContentType":"text/vcard","Size":589106,"Path":"19-384.emg-norm_v1.0.5.vcf","IsArchived":false,"DateCreated":"2022-08-23T10:24:11.0000000Z","DateModified":"2022-08-23T10:24:12.0000000Z","ParentAppResult":{"Id":"294859593","Href":"v1pre3/appresults/294859593","UserOwnedBy":{"Id":"34606577","Href":"v1pre3/users/34606577","Name":"Yael
        Raden","DateCreated":"0001-01-01T00:00:00.0000000Z","GravatarUrl":"https://secure.gravatar.com/avatar/b5e8e6d362c6c90e664cd4b8aac903ac.jpg?s=20&d=mm&r=PG"},"Name":"19-384","Status":"Complete","StatusSummary":"","DateCreated":"2022-08-23T10:24:07.0000000Z","TotalSize":656957,"AppSession":{"Id":"599549967","Name":"19-384","Href":"v1pre3/appsessions/599549967","Application":{"Id":"10","Href":"v1pre3/applications/10","Name":"Imported","CompanyName":"Illumina,
        Inc.","VersionNumber":"1.0.0","ShortDescription":"auto created for uploader
        app","DateCreated":"2014-04-08T00:00:00.0000000Z","DatePublished":"2014-04-08T00:00:00.0000000Z","PublishStatus":"Published","IsBillingActivated":false,"Category":"Uploader","Classifications":["Illumina"],"AppFamilySlug":"illumina-inc.imported","AppVersionSlug":"illumina-inc.imported.1.0.0","Features":["IsAppRegisteredToPlatform"],"LockStatus":"Unlocked"},"UserCreatedBy":{"Id":"34606577","Href":"v1pre3/users/34606577","Name":"Yael
        Raden","DateCreated":"0001-01-01T00:00:00.0000000Z","GravatarUrl":"https://secure.gravatar.com/avatar/b5e8e6d362c6c90e664cd4b8aac903ac.jpg?s=20&d=mm&r=PG"},"Status":"Complete","QcStatus":"Undefined","StatusSummary":"","DateCreated":"2022-08-23T10:24:07.0000000Z","ModifiedOn":"2022-08-23T10:24:18.0000000Z","DateCompleted":"2022-08-23T10:24:17.0000000Z","TotalSize":656957}},"ETag":"5c60d3259e9177020126b042ae704987"},"ResponseStatus":{},"Notifications":[]}'
    headers:
      Content-Type:
      - application/json
      X-BaseSpace-Source:
      - master/readonly
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer 72007ae76ac14a27b389765fd01b509e
      Content-Type:
      - application/json
    method: GET
    uri: https://api.basespace.illumina.com/v1pre3/files/28391974107/content?redirect=meta
  response:
    body:
      string: '{"Response":{"Expires":"2023-09-25T16:03:53.7794770Z","HrefContent":"https://basespace-data-east.s3.us-east-1.amazonaws.com/7a6d3c64bf824612b687aefa00ab6c31/19-384.emg-norm_v1.0.5.vcf?AWSAccessKeyId=AKIARPYQJSWQ6AGAAPOI&Expires=1695657954&response-content-disposition=filename%3D19-384.emg-norm_v1.0.5.vcf&response-content-type=text%2Fvcard&Signature=nbvIMfxtriNd0lLKMcqnnqjZRbI%3D","SupportsRange":true},"ResponseStatus":{},"Notifications":[]}'
    headers:
      Content-Type:
      - application/json
      X-BaseSpace-Source:
      - master/readonly
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://basespace-data-east.s3.us-east-1.amazonaws.com/7a6d3c64bf824612b687aefa00ab6c31/19-384.emg-norm_v1.0.5.vcf?AWSAccessKeyId=AKIARPYQJSWQ6AGAAPOI&Expires=1695657954&response-content-disposition=filename%3D19-384.emg-norm_v1.0.5.vcf&response-content-type=text%2Fvcard&Signature=nbvIMfxtriNd0lLKMcqnnqjZRbI%3D
  response:
    body:
      string: "##fileformat=VCFv4.2\n##INFO=<ID=emg_qual_allele_histogram,Number=.,Type=String,Descri[...]
[...]
