interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer 224880f27f224388b11f3b193ee377e7
      Content-Type:
      - application/json
    method: GET
    uri: https://api.basespace.illumina.com/v1pre3/files/11761995736?Offset=0&Limit=512
  response:
    body:
      string: '{"Response":{"UploadStatus":"complete","Properties":{"Items":[],"DisplayedCount":0,"TotalCount":0,"Href":"v1pre3/files/11761995736/properties"},"Id":"11761995736","Href":"v1pre3/files/11761995736","HrefContent":"v1pre3/files/11761995736/content","Name":"Myeloid-RNA-SeraSeq-Rep7.SeraSeq_S23.fusions.csv","ContentType":"application/octet-stream","Size":1247,"Path":"Myeloid-RNA-SeraSeq-Rep7.SeraSeq_S23.fusions.csv","IsArchived":false,"DateCreated":"2018-07-24T21:22:33.0000000Z","DateModified":"2018-07-24T21:22:33.0000000Z","ParentAppResult":{"Id":"137682553","Href":"v1pre3/appresults/137682553","UserOwnedBy":{"Id":"9319322","Href":"v1pre3/users/9319322","Name":"Illumina
        Public Data","DateCreated":"0001-01-01T00:00:00.0000000Z","GravatarUrl":"https://secure.gravatar.com/avatar/c028aa9f7bb49e5c99efd2c6a329d8d6.jpg?s=20&d=mm&r=PG"},"Name":"Myeloid-RNA-SeraSeq-Rep7","Status":"Complete","StatusSummary":"Application
        completed successfully","DateCreated":"2018-07-24T21:22:27.0000000Z","TotalSize":680468,"AppSession":{"Id":"111537916","Name":"RNA
        Amplicon 07/24/2018 1:39:05","Href":"v1pre3/appsessions/111537916","Application":{"Id":"4856852","Href":"v1pre3/applications/4856852","Name":"RNA
        Amplicon","CompanyName":"Illumina, Inc.","VersionNumber":"1.0.0","HomepageUri":"https://support.illumina.com/downloads/basespace-rna-amplicon-app.html","ShortDescription":"The
        RNA Amplicon app enables gene expression profiling using amplicon panels sequenced
        on Illumina platforms.","DateCreated":"2017-11-16T02:37:56.0000000Z","DatePublished":"2018-01-09T16:39:25.0000000Z","PublishStatus":"Published","IsBillingActivated":false,"Category":"Native","Classifications":["TargetedSequencing","RNASeq","GeneFusionDetection","DifferentialExpression","Hipaa","Illumina"],"AppFamilySlug":"illumina-inc.rna-amplicon","AppVersionSlug":"illumina-inc.rna-amplicon.1.0.0","Features":["IsAppRegisteredToPlatform"],"LockStatus":"Unlocked"},"UserCreatedBy":{"Id":"9319322","Href":"v1pre3/users/9319322","Name":"Illumina
        Public Data","DateCreated":"0001-01-01T00:00:00.0000000Z","GravatarUrl":"https://secure.gravatar.com/avatar/c028aa9f7bb49e5c99efd2c6a329d8d6.jpg?s=20&d=mm&r=PG"},"Status":"Complete","QcStatus":"Undefined","StatusSummary":"Application
        completed successfully","DateCreated":"2018-07-24T21:00:54.0000000Z","ModifiedOn":"2018-07-24T21:22:49.0000000Z","DateCompleted":"2018-07-24T21:22:44.0000000Z","TotalSize":17780405}},"ETag":"0409bb071afb31113d8524fda7a3d661"},"ResponseStatus":{},"Notifications":[]}'
    headers:
      Content-Type:
      - application/json
      X-BaseSpace-Source:
      - master/readonly
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer 224880f27f224388b11f3b193ee377e7
      Content-Type:
      - application/json
    method: GET
    uri: https://api.basespace.illumina.com/v1pre3/files/11761995736/content?redirect=meta
  response:
    body:
      string: '{"Response":{"Expires":"2025-05-28T08:00:47.6095590Z","HrefContent":"https://basespace-data-east.s3.us-east-1.amazonaws.com/449e44d02ed948778c91a92701603cf1/Myeloid-RNA-SeraSeq-Rep7.SeraSeq_S23.fusions.csv?AWSAccessKeyId=AKIARPYQJSWQZKU3DBUF&Expires=1748419368&response-content-disposition=filename%3DMyeloid-RNA-SeraSeq-Rep7.SeraSeq_S23.fusions.csv&response-content-type=application%2Foctet-stream&Signature=qaHD8QsgyIrg5g%2Fj4C1WPXUYU9Y%3D","SupportsRange":true},"ResponseStatus":{},"Notifications":[]}'
    headers:
      Content-Type:
      - application/json
      X-BaseSpace-Source:
      - master/readonly
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://basespace-data-east.s3.us-east-1.amazonaws.com/449e44d02ed948778c91a92701603cf1/Myeloid-RNA-SeraSeq-Rep7.SeraSeq_S23.fusions.csv?AWSAccessKeyId=AKIARPYQJSWQZKU3DBUF&Expires=1748419368&response-content-disposition=filename%3DMyeloid-RNA-SeraSeq-Rep7.SeraSeq_S23.fusions.csv&response-content-type=application%2Foctet-stream&Signature=qaHD8QsgyIrg5g%2Fj4C1WPXUYU9Y%3D
  response:
    body:
      string: 'Target ID,Target Number,Ge[...]
[...]
